<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" type="text/css" href="../assets/css/tela_recupera_senha.css">
    <title>Tela Recupera Senha</title>
</head>
<body>
  <div class="principal">
    <div class="container">
     <h2>Recuperar Senha</h2>
       <form action="../testa_telefone.php" method="post">
        <label for="telefone">Digite seu Telefone:</label>
        <input type="text" id="telefone" name="telefone" placeholder='Insira o número de telefone com DDD'>
       <input type="submit" value="Enviar">
      </form>
  </div>
</div>
<script src="../assets/js/cadastro_representante.js"></script>
</body>
</html>