<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" type="text/css" href="../assets/css/tela_recupera_senha.css">
    <title>Tela Recupera Senha</title>
</head>
<body>
  <div class="principal">
    <div class="container">
     <h2>Recuperar Senha</h2>
       <form action="../testa_cpf.php" method="post">
        <label for="tipoDocumento">Digite seu CPF ou CNPJ:</label>
        <div class="cpf-or-cnpj-radios">
          <label for="cpf">CPF</label>
          <input type="radio" id="cpf" name="tipoDocumento" value="cpf" required onchange="showField()"> 
          <label for="cnpj" class="required-label-cpf">CNPJ</label>
          <input type="radio" id="cnpj" name="tipoDocumento" value="cnpj" onchange="showField()">
        </div>
        <input type="text" id="campoDocumento" class="campo-invisivel" value="" name="campoDocumento">
       <input type="submit" value="Recuperar Senha">
      </form>
  </div>
</div>
<script src="../assets/js/cadastro_representante.js"></script>
</body>
</html>