body {
    margin: 2% 10% 10% 10%;
    background-color: azure;
}

.user-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
#hello {
    color: #363746;
    flex-grow: 1;
    text-align: center;
}
  
#links {
    display: flex;
    justify-content: flex-end;
}

.floating-button {
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 9999;
}
  
select {
    color: #343a40;;
    background-color: rgb(128, 192, 245);
    padding: 5px;
}